h6: em
  - if (user.id == current_user.id) || current_user.partner # question.user_id == current_user.id
    h3
      ' Вопрос от
      = question.user.name
      |:
    p
      = question.body
      br /
      => 'файл:' if question.ufile?
      = link_to question.ufile.file.filename, question.ufile.url, target: '_blank' if question.ufile?

    div id="answers#{question.id}"
      h3 Ответы
      = render question.answers if question.answers
    .add-answer
      btn.btn-sm.btn-custom.jsformanswer*{'data-question_id' => question.id}
        | Ответить
      .p-relative
        .formAnswer.formHidden
          div.answer-errors id="answer-errors#{question.id}"
          = render 'answers/form', question: question, tender: question.tender