.profile-wrapper
  - if @profile
    h1.mb-5 Редактировать профиль
    = simple_form_for @profile, url: { action: 'update' } do |f|
      .row
        .col-sm-2
          - if @user.profile
            - unless @user.profile.avatar.file.nil?
              = image_tag @user.profile.avatar.url(:thumb)
              br /
      .clear
      = f.input :remove_avatar, as: :boolean, label: 'Удалить картинку', class: 'filled-in'

      = f.input :avatar, as: :file
      = f.hidden_field :avatar_cache
      = f.button :submit, 'ok', class: 'btn btn-primary'
    = link_to 'Исправить неверные данные регистрации', edit_user_registration_path if current_user.id == params[:id]
  - else
    h1 профиль не заполнен