.ml-panel.profile-wrapper
  - if @user.profile
    .row
      .col-sm-2
        = image_tag @user.profile.avatar.url(:thumb), class: 'avatar' unless @user.profile.avatar.file.nil?
  h3
    = @user.name
  p
    ' E-mail:
    = @user.email
  p
    ' Телефон:
    = @user.phone
  p
    ' Компания:
    = @user.company
  p
    ' Цель:
    = @user.purpose

  - if current_user.id == @user.id
    - if @user.profile
      p= link_to edit_profile_path(current_user) do
        | Редактировать профиль
    - else
      p= link_to new_profile_path do
        | Заполнить профиль
    p= link_to 'Исправить неверные данные регистрации', edit_user_registration_path(@user)

  - unless current_user.partner || current_user.id == @user.id || !@user.partner
    h6.mt-5 Приглашение в конкурс
    = form_tag(controller: 'profiles', action: 'invite') do
      = label_tag(:tender_id, 'Выбрать тендер')
      = select_tag(:tender_id,
              options_from_collection_for_select(current_user.tenders.where(public: true), :id, :exhibition),
              class: 'form-control select optional')
      br
      = submit_tag 'Пригласить в конкурс', class: 'btn btn-info'