h1 Тендеры
table.table.table-hover
  thead
    tr
      - if @one_user
        th scope="col" N
        th scope="col" Компания
        th scope="col" E-mail
        th scope="col" Выставка
        th scope="col" Площадь
        th scope="col" Бюджет
        th scope="col" Статус
        th scope="col" Детально
        th scope="col"  Опубликовано
        th scope="col" 
      -else
        th scope="col"= link_to 'N', admin_tenders_path unless @one_user
        th scope="col"= link_to 'Компания', admin_tenders_path(order_users: 'company')
        th scope="col"= link_to 'E-mail', admin_tenders_path(order_users: 'email')
        th scope="col"= link_to 'Выставка', admin_tenders_path(order_htitle: 'exhibition')
        th scope="col"= link_to 'Площадь', admin_tenders_path(order_htitle: 'area')
        th scope="col"= link_to 'Бюджет', admin_tenders_path(order_htitle: 'budget')
        th scope="col" Статус
        th scope="col" Детально
        th scope="col"  Опубликовано
        th scope="col" 
      th scope="col"
      th scope="col"
  tbody
    = render @tenders, size: @tenders.size
p
  - if @user
    = link_to 'Техническое задание', new_admin_user_tender_path(@user), class: 'btn btn-primary'
  - else
    = link_to 'Техническое задание', new_admin_newtender_path, class: 'btn btn-primary'

  = link_to 'Назад', :back, class: 'btn btn-light'
