- if admin_signed_in?
  .btn-group.navbar-btn.navbar-right.margin-right-60
    = button_tag class: 'dropdown-toggle btn btn-default', 'data-toggle': 'dropdown' do
      = current_admin.email
      span.caret
    .dropdown-menu aria-labelledby="navbarDropdown"
      = link_to 'Выйти', destroy_admin_session_path, method: :delete, class: 'dropdown-item'
- else
  = link_to 'Вход', new_admin_session_path, class: 'btn btn-default navbar-btn navbar-right'
