nav.navbar.navbar-expand-lg.navbar-light.bg-light role='navigation'
  .navbar-header
    = link_to root_path, class: 'navbar-brand' do
      = image_tag 'favicon.ico'
      span.logo

  .navbar-collapse.collapse
    - if user_signed_in?
      ul.navbar-nav.mr-auto
        li.nav-item
          - if user_signed_in? && current_user.partner
            = link_to 'Клиенты', users_path, class: 'nav-link'
          - else
            = link_to 'Исполнители', users_path, class: 'nav-link'
        li.nav-item
          = link_to 'Тендеры', tenders_path, class: 'nav-link'
  = render partial: 'layouts/shared/user_bar' unless admin_signed_in?
