aside.panel
  nav.panel__nav role='navigation'
    - if user_signed_in?
      header.panel__user-info.user-info
        - if current_user.profile
          .avatar-wrapper
            = image_tag current_user.profile.avatar.url(:thumb), class: 'avatar' unless current_user.profile.avatar.file.nil?
        span.user-info__name= current_user.name
        span.user-info__company= current_user.company
      ul.panel__navigate.panel-navigate
        li.panel-navigate__item
          = link_to 'Главная', root_path, class: 'panel-navigate__link'
        li.panel-navigate__item
          = link_to cabinet_path, class: 'panel-navigate__link' do
            - if current_user.partner
              | личный кабинет
            - else
              | Реализованные проекты
        li.panel-navigate__item
          = link_to 'профиль', profile_path(current_user), class: 'panel-navigate__link'
        li.panel-navigate__item
          = link_to users_path, class: 'panel-navigate__link' do
            - if current_user.partner
              | Клиенты
            - else
              | Партнеры
        li.panel-navigate__item
          = link_to tenders_path, class: 'panel-navigate__link' do
            | Тендеры
            span.panel-navigate__counter
              | 22
        li.panel-navigate__item
          = link_to orders_path, class: 'panel-navigate__link' do
            | Заказы
            span.panel-navigate__counter
              | 22
        li.panel-navigate__item
          = link_to bookkeeping_path, class: 'panel-navigate__link' do
            | Бухгалтерия
        - if current_user.partner
          li.panel-navigate__item
            = link_to portfolio_path, class: 'panel-navigate__link' do
              | Портфолио
        li.panel-navigate__item
          = link_to 'Настройки', edit_user_registration_path, class: 'panel-navigate__link'
        li.panel-navigate__item
          = link_to 'Выход', destroy_user_session_path, method: :delete, class: 'panel-navigate__link'
    - else
      span.user-info__photo
        | Вам необходимо зарегистрироваться
    footer.panel__footer
      span
        | ООО "Идее Группа"
      span
        | ОГРН 11557746876286