.front-page
  .row
    .col-12
      h1.mb-5= link_to 'Тендеры', root_path

  .front-page.mt-5
    table
      thead
        tr
          th scope="col"= link_to 'Название', root_path(order_users: 'company')
          th scope="col"= link_to 'E-mail', root_path(order_users: 'email')
          th scope="col"= link_to 'Выставка', root_path(order_htitle: 'exhibition')
          th scope="col"= link_to 'Площадь', root_path(order_htitle: 'area')
          th scope="col"= link_to 'Бюджет', root_path(order_htitle: 'budget')
          th scope="col" Предложений
          th scope="col" Детально
          th scope="col" Статус
      tbody
        - @tenders.each do |tender|
          - if tender.public?
            tr
              td= tender.user.company
              td= tender.user.email
              td
                = tender.exhibition
              td.td-int= tender.area
              td.td-int
                = number_with_precision tender.budget, precision: 2 if tender.budget?
                |  ₽
              td.td-int
                - if tender.reviews
                  =< tender.reviews.count
                - else
                  |  0
              td= link_to icon('fa-eye', 'посмотреть'), tender
              td= tender.status
