.status
  padding: 8px 16px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 8px
  &_process
    background-color: #69dc69
    color: #fff
  &_finish
    background-color: #cccccc
    color: #888


.personal-orders
  max-width: 78%
  &__status
    display: flex
    align-items: center
  &__item
    display: flex
    flex-wrap: wrap
    background-color: #fff
    background-clip: border-box
    border: 1px solid rgba(0, 0, 0, 0.125)
    border-radius: 0.25rem
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
    &:not(:last-child)
      margin-bottom: 32px

  &__price
    font-size: 24px

  &__sizes,
  &__showes
    font-size: 18px

  &__messages
    display: flex
    align-items: center

  &__new-messages
    color: green
    margin-left: 4px