.single-tender
  &__item
    height: 100%
    display: flex
  &__price
    font-size: 24px
  &__sizes,
  &__showes
    font-size: 18px
  i
    font-size: 20px
    color: gray

.conditions
  &__item span:first-child
    width: 240px
    display: inline-block


.chat
  &__new-message-counter
    color: green

  &__message
    margin: 16px 0
    max-width: 70%
    padding: 32px
    background-color: rgba(0, 0, 0, 0.1)
    &:nth-child(even)
      background-color: #b9ecb9
      margin-left: auto
  &__files-list
    display: flex
    & li
      width: 120px
      height: 120px
      border: 1px solid rgba(0, 0, 0, 0.1)
      margin-right: 4px
      & img
        max-width: 100%
        height: auto
        object-fit: contain
