.bookkeeping.profile-wrapper
  header.mb-5
    h2 Бухгалтерия

  table
    thead
      th Заказ
      th Город
      th Сумма
      th Действие
    tbody
      tr
        td
          = link_to '/', root_path
          | 45 м2, два этажа, застройка простая
        td
          | Москва
        td
          | 1 250 000 Р
        td
          button.btn.btn-primary.mr-3 Выплатить
          button.btn.btn-secondary Удалить

      tr
        td
          = link_to '/', root_path
          | 45 м2, два этажа, застройка простая
        td
          | Москва
        td
          | 1 250 000 Р
        td
          button.btn.btn-primary.mr-3 Выплатить
          button.btn.btn-secondary Удалить

  .mt-5
    p= link_to 'Назад', :back, class: 'btn btn-light'