.personal-orders.profile-wrapper
  header.mb-5.w-100
    h2
      | Мои заказы
  .ul.personal-orders__list.list-unstyled

    / Первый заказ (выполняется)

    .personal-orders__item.p-3
      .col-12
        header.mb-3
          h3
            | 45 м2, два этажа, застрока простая
        .personal-orders__status.mb-3
          span.text-muted.mr-3 Статус заказа
          span.status.status_process Выполняется
      .col-4
        li
          header
            h6.text-muted Бюджет
          span.personal-orders__price 1 250 000 Р
          .personal-orders__operations
            span.text-muted Комиссия сервиса: 125 000 Р
            br
            span.text-muted Оплата исполнителю: 1 125 000 Р
      .col-4
        li
          header
            h6.text-muted Площадь и этаж
          .personal-orders__sizes
            span.text-muted 45 м2
            br
            span.text-muted 2 этажа
      .col-4
        li
          header
            h6.text-muted Регион и выставка
          .personal-orders__showes
            span.text-muted Москва
            br
            span.text-muted Продэкспо2019

      .persnal-orders__bottom.col-12.mt-5.pb-3
        .d-flex
          .personal-orders__more-info
            button.btn.btn-primary Подробнее
            button.btn.btn-primary.ml-3 Завершить заказ

          .personal-orders__messages.ml-3
            span.text-muted
              | Сообщений:
              | 23
            span.personal-orders__new-messages
              | (Новых 2)


    .personal-orders__item.p-3
      .col-12
        header.mb-3
          h3
            | 45 м2, два этажа, застрока простая
        .personal-orders__status.mb-3
          span.text-muted.mr-3 Статус заказа
          span.status.status_finish Завершен
      .col-4
        li
          header
            h6.text-muted Бюджет
          span.personal-orders__price 1 250 000 Р
          .personal-orders__operations
            span.text-muted Комиссия сервиса: 125 000 Р
            br
            span.text-muted Оплата исполнителю: 1 125 000 Р
      .col-4
        li
          header
            h6.text-muted Площадь и этаж
          .personal-orders__sizes
            span.text-muted 45 м2
            br
            span.text-muted 2 этажа
      .col-4
        li
          header
            h6.text-muted Регион и выставка
          .personal-orders__showes
            span.text-muted Москва
            br
            span.text-muted Продэкспо2019

      .persnal-orders__bottom.col-12.mt-5.pb-3
        .d-flex
          .personal-orders__more-info
            button.btn.btn-primary Подробнее
            button.btn.btn-primary.ml-3 [disabled] Завершить заказ

          .personal-orders__messages.ml-3
            span.text-muted
              | Сообщений:
              | 45

  .mt-5
    p= link_to 'Назад', :back, class: 'btn btn-light'