.portfolio.profile-wrapper
  header.mb-5
    h2 Добавить работу в Портфолио


  form#portfolio
    .input-field.w-50
      input#comment.materialize-textarea
      label for='comment' name='comment' Название работы *
    .input-field.w-50
      input#comment.materialize-textarea
      label for='comment' name='comment' Описание работы *
    / = render 'shared/input-type-file'
    input type='file'

    p.mt-5
      button.btn.btn-primary Добавить работу