.portfolio.profile-wrapper
  header.mb-5
    h2 Портфолио
  ul.portfolio__list.list-unstyled
    li.portfolio__item.card.p-3
      header.mb-3
        h4 Стенд Coca-Cola
      .portfolio__photos
        span.text-muted Фотографии
        .photos-list.row.mt-2
          .col-2
            span.photos-list__element
              img src="http://smartgroup.ru/wp-content/uploads/2015/09/Cocacola-01.jpg" alt="Фотография стенда кока-колы"
          .col-2
            span.photos-list__element
              img src="http://smartgroup.ru/wp-content/uploads/2015/09/Cocacola-01.jpg" alt="Фотография стенда кока-колы"
          .col-2
            span.photos-list__element
              img src="http://smartgroup.ru/wp-content/uploads/2015/09/Cocacola-01.jpg" alt="Фотография стенда кока-колы"


      .portfolio__description
        span.text-muted Описание
        p.mt-2.text-muted
          | В «Сколково» впервые в России построена инновационная цифровая подстанция.
          | Я считаю, что это революционное событие. Это шаг в будущее электроэнергетики, – сказал Сергей Собянин.
          | По его словам, на данный момент в столице имеется 100 тысяч километров электросетей и больше 20 тысяч подстанций,
          | за которые нужно платить москвичам в тарифе за электроэнергию.
        p.text-muted
          | От того, как будет функционировать эта огромная машина, как будут работать подстанции,
          | как будет работать огромное сетевое хозяйство, во многом зависит и стоимость, и надежность электроэнергии, – добавил мэр.

      .porfolio__controls.mt-3
        button.btn.btn-primary.mr-3 Редактировать
        button.btn.btn-secondary Удалить


  .mt-5
    p= link_to 'Добавить работу', portfolio_add_path, class: 'btn btn-primary'



  .mt-5
    p= link_to 'Назад', :back, class: 'btn btn-light'