= simple_form_for @tender do |f|
  = f.input :exhibition, label: 'Выставка'
  = f.input :region, label: 'Место проведения'
  = f.input :dates_event, label: 'Сроки проведения'
  = f.input :term_delivery_design_project, label: 'Срок сдачи проекта'
  = f.input :budget, label: 'Бюджет(руб)'
  = f.input :tender_number_participants, label: 'Тендер (число участников)'
  h3 Информация о компании (род деятельности):
  = f.input :area, label: 'Площадь стенда'
  = f.input :floor, label: 'Этажность'
  p.mbottom-02rem Площадь 2-го этажа. Длина/ширина. Остов. Полуостров. Угол. Линейный.
  = f.input :company_info, label: 'Зал: Павильон:', input_html: {class: 'materialize-textarea'}
  = f.input :main_purpose_participation, collection: Tender.main_purpose, label: 'Основная цель участия в выставке'
  h3 Основной акцент стенда:
  = f.input :main_focus, collection: Tender.mainFocus, label: 'что должен увидеть Ваш посетитель в первую очередь:'
  p.mbottom-02rem
    | Логотипы и торговые марки, представляемые на стенде:
    br
    | Корпоративные цвета, брендбук:
  = f.input :main_focus_stand_more, label: 'Ассоциации, которые должен вызывать выставочный стенд: (Например, яркий, динамичный и т.п.)'
  h3 В каком стиле Вы хотите видеть стенд:
  = f.input :image_saturation, collection: Tender.imageSaturation, label: 'Насколько стенд должен быть насыщен изображениями (имиджевыми/техническими):'
  = f.input :open_to_visitors, collection: Tender.openToVisitors, label: 'Насколько стенд должен быть открытым для посетителей:'
  = f.input :height_stand, label: 'Высота стенда: (Предпочтения/ограничения по высоте стенда)'
  p.mbottom-02rem
    | Зона ресепшн: (Количество информационных стоек. На сколько человек)
    br
    | Подвес:
    br
    |  Наличие фальшпола/подиума:
    br
    |  Напольное покрытие:
  = f.input :reception, label: 'Зона ресепшн:', input_html: {class: 'materialize-textarea'}
  h3 Экспонируемая продукция:
  = f.input :exhibited_products, label: 'вписать', input_html: {class: 'materialize-textarea'}
  = f.input :showcases, label: 'Наличие витрин (количество, размеры):', input_html: {class: 'materialize-textarea'}
  h3 Оборудование для экспонируемой продукции:
  p.mbottom-02rem Плазменные панели. Проекционные экраны. Другое
  = f.input :additional_equipment, label: 'дополнительное оборудование', input_html: {class: 'materialize-textarea'}
  h3 Переговорные зоны:
  = f.input :negotiation_zone, label: 'Открытая. Закрытая. Площадь. Оснащение мебелью, на сколько человек рассчитано.Взаиморасположение с другими зонами.', input_html: {class: 'materialize-textarea'}
  h3 Подсобное помещение:
  = f.input :utility_room, label: 'Кухня. Раздевалка. Склад. Площадь. Оснащение (стеллаж, вешалка, мойка, кофемашина, холодильник, кулер, корзина).', input_html: {class: 'materialize-textarea'}
  h3 Электрооборудование стенда
  = f.input :electrical, label: 'Экспонаты, требующие подключения, количество розеток:', input_html: {class: 'materialize-textarea'}
  = f.input :choice_materials, label: 'Предпочтения в выборе используемых материалов:', input_html: {class: 'materialize-textarea'}
  = f.input :lighting, label: 'Освещение стенда:', input_html: {class: 'materialize-textarea'}
  h3 Обязательные условия
  = f.input :obligatory_condition, label: 'Например: Собственное производство у компании', input_html: {class: 'materialize-textarea'}
  h3 Техническое задание
  = f.input :technical_specification, label: 'Общие данные технического задания', input_html: {class: 'materialize-textarea'}
  h3 Дополнительная информация:
  = f.input :special_request, label: 'Особые пожелания к стенду', input_html: {class: 'materialize-textarea'}

  p= f.button :submit, 'Сохранить', class: 'btn btn-primary mb-3'
p= link_to 'Назад', :back, class: 'btn btn-light'