div.profile-wrapper
  table
    - if current_user.partner?
      = render 'tabltender'
      tbody
      = render @tenders

    - else
    .row
      .col-6
        h1.mb-5 Мои тендеры
      .col-6= link_to 'Техническое задание', new_tender_path, class: 'btn btn-primary'
      - if current_user.tenders.any?
        = render 'tabltender'
        tbody
        = render @tenders
      - else
        p У Вас нет тендеров
  p= link_to 'Назад', :back, class: 'btn btn-light'