.single-tender
  header.mb-5
    h2
      | 45 м2, два этажа, застрока простая
  .ul.single-tender__list.row.d-flex
    .col-4
      li.card.single-tender__item.p-3
        header
          h6.text-muted Бюджет
        span.single-tender__price 1 250 000 Р
        .single-tender__operations
          span.text-muted Комиссия сервиса: 125 000 Р
          span.text-muted Оплата исполнителю: 1 125 000 Р
    .col-4
      li.card.single-tender__item.p-3
        header
          h6.text-muted Площадь и этаж
        .single-tender__sizes
          span.text-muted 45 м2
          br
          span.text-muted 2 этажа
    .col-4
      li.card.single-tender__item.p-3
        header
          h6.text-muted Регион и выставка
        .single-tender__showes
          span.text-muted Москва
          br
          span.text-muted Продэкспо2019
  p.mt-5
    button.btn.btn-secondary
      | Показать все условия
  .single-tender__chat.chat.mt-5
    header
      h5 Чат
      span.text-muted
        | Сообщений:
        | 23
      span.chat__new-message-counter
        | (Новых 2)
    .ul.list-unstled.chat__messages
      .chat__message
        header
          span.text-muted
            | Александр Иванов -
            | ООО ТриумфЭкспо
            | 12 июня 2018, 23:45
          p.chat__greeting
            | Добрый день!
          p.chat__body
            | Мы уже изготовили 12 похожих проектов.
            | Вы можете посмотреть их в нашем портфолио.
            | Миллиона тут явно не хватит. Если вы готовы увеличить бюджет,
            | то мы сможем помочь вам в реализации проекта.
            | Посмотрите наши похожие работы.
          div.chat__files
            ul.list-unstyled.chat__files-list
              li
                img src='http://finnotes.com/wp-content/uploads/2012/06/business-2.png'
              li
                img src='http://finnotes.com/wp-content/uploads/2012/06/business-2.png'
      .chat__message
        header
          span.text-muted
            | Александр Иванов -
            | ООО ТриумфЭкспо
            | 12 июня 2018, 23:45
          p.chat__greeting
            | Добрый день!
          p.chat__body
            | Мы уже изготовили 12 похожих проектов.
            | Вы можете посмотреть их в нашем портфолио.
            | Миллиона тут явно не хватит. Если вы готовы увеличить бюджет,
            | то мы сможем помочь вам в реализации проекта.
            | Посмотрите наши похожие работы.
  .single-tender__send.mt-5
    header
      h5 Ответить
    form
      .input-field.w-50
        input#comment.materialize-textarea
        label for='comment' name='comment' Введите комментарий
      .input-field.d-flex
        .w-50
          input
          label Загрузить файл
          input#load_file type='file' hidden='true'
        .w-50
          button.btn.btn-primary.ml-3 Обзор
          button.btn.btn-primary.ml-3 type='button'  Загрузить файл

      p
        button.btn.btn-primary Ответить