.single-tender
  header.mb-5
    h2
      | 45 м2, два этажа, застрока простая
  .ul.single-tender__list.row.d-flex
    .col-4
      li.card.single-tender__item.p-3
        header
          h6.text-muted Бюджет
        span.single-tender__price 1 250 000 Р
        .single-tender__operations
          span.text-muted Комиссия сервиса: 125 000 Р
          span.text-muted Оплата исполнителю: 1 125 000 Р
    .col-4
      li.card.single-tender__item.p-3
        header
          h6.text-muted Площадь и этаж
        .single-tender__sizes
          span.text-muted 45 м2
          br
          span.text-muted 2 этажа
    .col-4
      li.card.single-tender__item.p-3
        header
          h6.text-muted Регион и выставка
        .single-tender__showes
          span.text-muted Москва
          br
          span.text-muted Продэкспо2019
  div.conditions.mb-5.mt-5
    header.mb-3
      h4 Обязательные условия тендера
    .ul.conditions__list.list-unstyled
      li.conditions__item
        i.fa.fa-check-circle
        span.ml-3 Наличие собственного производства
      li.conditions__item
        i.fa.fa-check-circle
        span.ml-3 Платежное поручение на сумму тендера
      li.conditions__item
        i.fa.fa-check-circle
        span.ml-3 Официальный штат не менее 10 человек
  div.conditions.mb-5
    header.mb-3
      h4 Техническое задание
    .ul.conditions__list.list-unstyled
      li.conditions__item
        span.text-muted Площадь застройки
        span.ml-auto 45м2
      li.conditions__item
        span.text-muted Этажность
        span.ml-auto 2 этажа
      li.conditions__item
        span.text-muted Материалы
        span.ml-auto МДФ
  p
    button.btn.btn-primary
      | Принять участие в тендере
  p
    button.btn.btn-secondary
      | Назад