- if user_signed_in? && current_user.partner?
  - if tender.public? && (tender.status != 'закрыт')
    tr
      td= tender.user.company
      td= tender.user.email
      td= tender.exhibition
      td.td-int= tender.area
      td.td-int
        = number_with_precision tender.budget, precision: 2 if tender.budget?
        |  ₽
      td.td-int
        - if tender.reviews
          =< tender.reviews.count
        - else
          |  0
      td= tender.status
      td= link_to icon('fa-eye', 'посмотреть'), tender
- elsif user_signed_in? && (current_user.id == tender.user.id)
  tr class=(tender.public? ? 'public_on' : 'public_off')
    td
      = tender.exhibition
    td.td-int= tender.area
    td.td-int
      = number_with_precision tender.budget, precision: 2 if tender.budget?
      |  ₽
    td.td-int
      - if tender.reviews
        =< tender.reviews.count
      - else
        |  0
    td= tender.status
    td= link_to icon('fa-eye', 'посмотреть'), tender
    td= link_to icon('fa-edit', 'редактировать'), edit_tender_path(tender)
    td= link_to icon('fa-trash', 'удалить'), tender, method: :delete, data: { confirm: 'Удалить безвозвратно?' }
