.profile-wrapper
  h1.mb-5 Приглашаем принять участие
  h3 Тендеры

  table.mb-5
    thead
      tr
        th scope="col"  Компания
        th scope="col"  Выставка
        th scope="col"  Площадь
        th scope="col"  Бюджет
        th scope="col"  Предложений
        th scope="col"  Статус
        th scope="col"  Детально

    tbody
      - @tenders.each do |tender|
        tr
          td= tender.user.company
          td= tender.exhibition
          td.td-int= tender.area
          td.td-int
            = number_with_precision tender.budget, precision: 2 if tender.budget?
            |  ₽
          td.td-int
            - if tender.reviews
              =< tender.reviews.count
            - else
              |  0
          td
          td= link_to icon('fa-eye', 'посмотреть'), tender
