.profile-wrapper
  .mb-5.mt-5
    .row
      .col-6
        h2
          ' Компания:
          = @tender.user.company
      - if user_signed_in? && (current_user.id == @tender.user.id)
        .col-4
          = render 'status_form'
        .col-2
          span=> link_to icon('fa-edit', 'редактировать'), edit_tender_path(@tender)
          span=< link_to icon('fa-trash', 'удалить'), @tender, method: :delete, data: { confirm: 'Удалить безвозвратно?' }
      - if user_signed_in? && current_user.partner
        .col-6
          - if @tender.take_in_competitions.where(tender_id: @tender.id, partner_id: current_user.id).empty?
            = link_to 'участвовать в тендере', tender_take_in_competitions_path(@tender), method: 'post', class: 'btn btn-primary'
    - if user_signed_in? && (current_user.id == @tender.user.id)
      p= link_to 'Заявки на участие в тендере', tender_requests_for_participation_in_tenders_path(@tender), class: 'btn btn-info'
    - else
      h3
        ' Email:
        em= mail_to @tender.user.email, @tender.user.email
    .ul.single-tender__list.row.d-flex
      .col-4
        li.card.single-tender__item.p-3
          header
            h6.text-muted Бюджет
          span.single-tender__price
            = number_with_precision @tender.budget, precision: 2 if @tender.budget?
            |  ₽
          / .single-tender__operations
          /   span.text-muted Комиссия сервиса: 125 000 Р
          /   br
          /   span.text-muted Оплата исполнителю: 1 125 000 Р
      .col-4
        li.card.single-tender__item.p-3
          header
            h6.text-muted Площадь и этаж
          .single-tender__sizes
            span.text-muted= @tender.area
            br
            span.text-muted= @tender.floor
      .col-4
        li.card.single-tender__item.p-3
          header
            h6.text-muted Регион и выставка
          .single-tender__showes
            span.text-muted= @tender.region
            br
            span.text-muted= @tender.exhibition

  p.mt-5
    button.btn.btn-secondary.js-detail-toggle
      | Показать все условия

  = render 'mock-data'

  - if user_signed_in?
    - if current_user.partner? || (current_user.id == @tender.user_id)
      .questions
        h1 Вопросы
        = render @tender.questions, user: @tender.user
        div
          - if current_user.partner?
            = link_to 'Задать вопрос', new_tender_question_path(@tender), class: 'btn-custom'

    - if (current_user.partner? && (@tender.take_in_competitions.find_by(partner_id: current_user.id) && @tender.take_in_competitions.find_by(partner_id: current_user.id).taken)) || (current_user.id == @tender.user_id)
      .reviews
        h1
          | Предложений(
          - if @tender.reviews
            = @tender.reviews.count
            | )
          - else
            | 0)

      = render @tender.reviews
      div
        - if current_user.partner?
          - unless current_user.reviews.pluck(:tender_id).include?(@tender.id)
            = link_to "Создать предложение", new_tender_review_path(@tender), class: 'btn-custom'
  br /
  p= link_to 'Назад', :back, class: 'btn btn-light'

  = render 'comments/forms_script'