.profile-wrapper
  h1.mb-5
    | #{current_user.partner? ? 'Клиенты' : 'Заказчики'}
  table.mb-5
    thead
      tr
        th scope="col"  E-mail
        th scope="col"  Имя
        th scope="col"  Телефон
        th scope="col"  Компания
        th scope="col"
    tbody
      - if current_user.partner
        - @users.each do |user|
          - next if user.partner
          = render 'users/user_data', user: user
      - else
        - @users.each do |user|
          - next unless user.partner
          = render 'users/user_data', user: user