.profile-wrapper
  - if @user.profile
    .row
      .col-sm-2
        = image_tag @user.profile.avatar.url(:thumb) unless @user.profile.avatar.file.nil?
  h3
    = @user.name
  p
    ' E-mail:
    = @user.email
  p
    ' Телефон:
    = @user.phone
  p
    ' Компания:
    = @user.company
  p
    ' Цель:
    = @user.purpose