<div class="auth-form-wrapper auth-form-wrapper_session">
  <h2>Измените пароль</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password, label: "Новый пароль", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: "Введите новый пароль еще раз", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Изменить пароль" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
