<div class="auth-form-wrapper auth-form-wrapper_session">
  <h2>Забыли пароль?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Вышлите мне инструкцию по восстановлению пароля" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
