$panel-bg: #2e2e2e

.panel
  position: sticky
  left: 0
  top: 0
  min-height: 100vh
  max-width: 20%

  &__nav
    height: 100%
    background-color: $panel-bg

  &__user-info
    padding: 32px 16px

  &__footer
    line-height: initial
    padding: 0 16px

    & span
      display: inline-block
      opacity: 0.7
      margin-top: 16px
      font-size: 0.7em


// user-info

.user-info
  display: flex
  flex-direction: column
  &__photo
    display: inline-block
    background-size: 60px 60px
    background-image: url(image_path('user-no-photo.svg'))
    background-repeat: no-repeat
    height: 60px
    margin-bottom: 8px
  &__name
    display: flex
    align-items: center
    height: 28px
    font-size: 14px
    opacity: 0.6
  &__company
    font-size: 12px
    height: 24px
    display: flex
    align-items: center
    opacity: 0.8

// navigate

.panel-navigate
  &__item
    display: flex
    align-items: center
    width: 100%
    height: 52px
    margin-bottom: 8px

  &__link
    width: 100%
    display: flex
    color: #fff
    position: relative
    font-size: 18px
    &:hover
      color: #fff

  &__counter
    font-size: 10px
    width: 20px
    height: 20px
    background-color: green
    display: flex
    align-items: center
    justify-content: center
    margin-top: 8px
    border-radius: 50%

.avatar-wrapper
  width: 60px
  height: 60px
  overflow: hidden
  margin-bottom: 12px

.avatar
  max-width: 100%
  height: auto
  object-fit: contain
  display: flex
  justify-content: center
  align-items: center

