doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1 Участие в тендере:
    p
      ' Уважаемый партнер!
      br
      | Новый тендер создан на платформе ХХХ
        #{@tender.created_at.strftime("%d-%m-%Y %H:%m")}
    p= link_to 'Посмотреть', @url, class: 'btn btn-info'
