.profile-wrapper
  .mb-5.mt-5
    h1.mb-5
      | Тендер
      =< @tender.exhibition
    h3 Заявки на участие в тендере от партнеров
    - @partners.each do |partner|
      p
        => link_to partner.name, profile_path(partner.id)

        - if @tender.take_in_competitions.find_by(partner_id: partner.id) && @tender.take_in_competitions.find_by(partner_id: partner.id).taken
          ' Взят в конкурс
        - else
          =< link_to 'взять', tender_requests_for_participation_in_tenders_path(@tender, partner_id: partner.id), method: 'post', class: 'btn btn-success'
