.portfolio
  &__item:not(:last-child)
    margin-bottom: 32px

.photos-list

  &__element
    width: 150px
    height: 90px
    display: inline-block

    & img
      max-width: 100%
      height: auto
      object-fit: contain
      display: block