/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require materialize
 */
@import 'normalize'
@import 'bootstrap'
@import 'kso'
@import 'front'
@import 'reviews'
@import 'comments'
@import 'answers'
@import 'registration'
@import 'front-page/index'
@import 'panel/index'
@import 'profile/index'
@import 'tenders/index'
@import 'portfolio/index'
@import 'bookkeeping/index'

html, body
  background-color: #eeeeee
  min-height: 100vh
.app
  display: flex
  flex-wrap: wrap
  justify-content: center
.right-side
  max-width: 80%
  width: 100%

.container
  //background-color: #fff
.top-40
  padding-top: 40px
  padding-bottom: 20px
//.td-int
//  text-align: right

.notice, .alert-notice
  color: #155724
  background-color: #d4edda
  border-color: #c3e6cb
  text-align: center
.alert-alert
  text-align: center
  color: #721c24
  background-color: #f8d7da
.margin-right-60
  margin-right: 60px
 
.hidden-fields
  display: none
i.fa.fa-eye
  color: lightblue
tr.public_off td
  background-color: #ddd
i.fa.fa-toggle-off.i-public-off
  color: gray
th a, h1 a
  color: darkslategray
tr th:first-child
  min-width: 50px
small.form-text.text-muted
  margin-top: -17px
#comment-errors
  color: red
.fl-r
  float: right


tbody tr:nth-child(even)
  background-color: #f8f8f8

//table i
//  color: #ccc

.hidden-file-input
  border-bottom: 1px solid #cccccc
  margin-bottom: 20px
  padding-bottom: 12px

.form-check
  padding-left: 0
  margin-left: 0

.text-green
  color: green
