.auth-form-wrapper
  margin: 32px 0
  background-color: #fff
  padding: 32px

  & .form-check
    padding-left: 0

  &_session
    max-width: 600px
    margin: 32px auto
    & a
      display: inline-block
      margin: 8px 0 0 0

.privacy-block
  font-size: 14px

.choice-role
  margin-top: 32px
  & .jumbotron
    background-color: #fff