<p>Добро пожаловать! <%= @email %>!</p>

<p>Вы можете подтвердить свой адрес электронной почты по ссылке ниже:</p>

<p><%= link_to 'Подтвердить аккаунт', confirmation_url(@resource, confirmation_token: @token) %></p>
