<p>Привет! <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы связаться с Вами, чтобы уведомить вас, что ваш адрес электронной почты изменился <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы связаться с Вами, чтобы уведомить вас, что ваш адрес электронной почты был изменен на <%= @resource.email %>.</p>
<% end %>
