<p>Hello <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для изменения пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не запрашивали это сообщение, проигнорируйте его.</p>
<p>Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не создадите новый.</p>
