<p>Привет! <%= @resource.email %>!</p>

<p>Ваша учетная запись заблокирована из-за чрезмерного количества неудачных попыток входа.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать аккаунт:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
