.row
  .col-10
    h1 Клиенты
  .col-2
    = link_to 'Новый', new_admin_user_path, class: 'btn btn-primary'
= render 'admin/users/tableuser'
h3 Партнеры
= render 'admin/users/partners'
p= link_to 'Назад', :back, class: 'btn btn-light'
