.review
  - if user_signed_in?
    - if (review.tender.user_id == current_user.id) || (review.user_id == current_user.id)
      = link_to user_path(review.user) do
        h4
          ' Компания:
          = review.user.company
      p.review-comment= review.comment.html_safe
      .files
        - if review.attachments?
          ul
            - review.attachments.each do |attachment|
              li= link_to attachment.file.filename, attachment.url, target: '_blank'
      - if review.user_id == current_user.id
        .links.btn-group
          = link_to "Edit", edit_tender_review_path(review.tender, review), class: "btn btn-custom"
          = link_to "Delete", tender_review_path(review.tender, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom"

      div id="comments#{review.id}"
        = render review.comments
      .add-comment
        btn.btn-sm.btn-primary.jsformcomment*{'data-review_id' => review.id}
          | Реплика
        .p-relative
          .formComment.formHidden
            div id="comment-errors#{review.id}"
            = render 'comments/form', review: review, tender: review.tender
