doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title выставки
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  body
    main.app
      - if user_signed_in?
        = render 'layouts/shared/panel'
      - else
        = render 'layouts/shared/main_menu'
      div.right-side
        - flash.each do |name, message|
          div class="alert alert-#{name}"
            = message
        = yield
