doctype html
html
  head
  meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  title выставки
  = csrf_meta_tags
  = csp_meta_tag
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  body
  .container.top-40
    = yield
  debug_dump
    = debug(params) if Rails.env.development?